// main: ./entry.less

.feed-div {
  width: 100%;
  height: calc(~"100% - "@page-header-height);
  position: relative;
  padding: 0;
  overflow-y: scroll;
  .clearfix();

  .section-title {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  .status {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
}

/*
// http://w3bits.com/css-masonry/
.masonry {
  margin: 1.5em 0;
  // padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;

  .feed {
    display: inline-block;
    background: #fff;
    // padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
}
}
@media only screen and (min-width: 400px) {
  .masonry {
    column-count: 1;
  }
}
@media only screen and (min-width: 700px) {
  .masonry {
    column-count: 2;
  }
}
@media only screen and (min-width: 900px) {
  .masonry {
    column-count: 3;
  }
}
@media only screen and (min-width: 1100px) {
  .masonry {
    column-count: 4;
  }
}
*/
/*
@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px;
  }
}
*/