// main: ./entry.less

.search-page {
  .header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    
    @search-status-width: 64px;
    .search-status {
      width: @search-status-width;
      padding: 12px 6px;
      float: left;
      height: 100%;
      font-size: 16px;
      background-color: rgba(85, 87, 125, 0.95);
      color: #fff;
      font-weight: 200;
      border-radius: 0 2px 2px 0;
      text-align: center;
    }

    .search-box {
      float: left;
      width: calc(~"100% - "@search-status-width);
      height: 100%;
      padding: 4px 16px;
      border: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      cursor: text;

      &:focus {
        background-color: #fafafa;
      }
    }
  }

  .trending-section {
    width: 100%;

    .nav-button-group {
      height: @page-header-height;
      line-height: @page-header-height;
      border-bottom: 1px solid #eee;

      .nav-btn {
        cursor: pointer;
        color: #666;
        border-left: 1px solid #eee;

        &:first-child {
          border-left: none;
        }

        &:hover {
          background-color: #eee;
        }

        &.selected {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .status {
    text-align: center;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 300;
  }
}