@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0);
}
html h1,
body h1,
#app h1 {
  font-size: 2.4em;
  font-weight: 300;
  padding-bottom: 0.3em;
}
html h2,
body h2,
#app h2 {
  font-size: 1.8em;
  font-weight: 400;
  padding-bottom: 0.3em;
}
html h3,
body h3,
#app h3 {
  font-size: 1.5em;
  font-weight: 500;
}
html h4,
body h4,
#app h4 {
  font-size: 1.2em;
  font-weight: 600;
}
html h5,
body h5,
#app h5 {
  font-size: 1.1em;
  font-weight: 600;
}
html h6,
body h6,
#app h6 {
  font-size: 1.0em;
  font-weight: 600;
}
html button,
body button,
#app button,
html input,
body input,
#app input {
  -webkit-app-region: no-drag;
}
.scrollbar-style::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-style::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}
.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 10px;
}
.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}
* {
  box-sizing: border-box;
}
.login-page {
  margin: auto;
  widths: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #ABDED9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #ABDED9, #99d7d1);
  background: -moz-linear-gradient(right, #ABDED9, #99d7d1);
  background: -o-linear-gradient(right, #ABDED9, #99d7d1);
  background: linear-gradient(to left, #ABDED9, #99d7d1);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .form {
    width: 90%;
  }
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #62afa8;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover {
  background: #4b938d;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #62afa8;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:after,
.container:before {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.page {
  position: absolute;
  top: 0;
  left: 78px;
  width: calc(100% -  78px);
  height: 100%;
  background-color: #fff;
}
.page .header {
  width: 100%;
  height: 48px;
}
.page .column-1-1 {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
.page .column-1-2 {
  width: 50%;
  height: 100%;
  margin: 0;
  float: left;
  text-align: center;
}
.page .column-1-3 {
  width: 33.3333%;
  height: 100%;
  margin: 0;
  float: left;
  text-align: center;
}
.page .container {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.nav-div {
  width: 78px;
  height: 100%;
  min-height: 400px;
  background-color: rgba(63, 64, 85, 0.95);
  color: #bbb;
  padding: 12px 14px;
  position: fixed;
  top: 0;
  text-align: center;
  overflow: auto;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.nav-div .profile-pic {
  width: 52px;
  height: 52px;
  margin-top: 48px;
  margin-bottom: 24px;
  border-radius: 26px;
}
.nav-div .section {
  margin-bottom: 20px;
  padding: 0;
}
.nav-div .section .icon {
  font-size: 26px;
  width: 26px;
}
.nav-div .section .content {
  font-size: 16px;
  margin-left: 12px;
}
.nav-div .section:hover {
  cursor: pointer;
  color: #ccc;
}
.nav-div .section.selected {
  color: #eee;
}
.dis-source {
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 12px;
  color: rgba(0, 0, 0, 0.870588);
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #eee;
  cursor: pointer;
}
.dis-source:hover {
  background-color: #fafafa;
}
.dis-source .dis-image {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.dis-source .content {
  margin-left: 48px;
  padding-left: 12px;
}
.dis-source .top-badge {
  font-size: 12px;
  margin-bottom: 4px;
}
.dis-source .top-badge .title {
  font-weight: 600;
  float: left;
  margin-right: 12px;
}
.dis-source .top-badge .updated {
  color: #8899a6;
}
.dis-source .description {
  font-size: 12px;
  color: #777;
  margin-bottom: 12px;
}
.dis-source .popularities {
  font-size: 12px;
  color: #333;
}
.dis-source .follow-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  color: #337ab7;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}
.feed {
  position: relative;
  transition: opacity 0.3s linear;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border-radius: 3px;
  word-wrap: break-word;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
  *zoom: 1;
}
.feed:after,
.feed:before {
  display: table;
  line-height: 0;
  content: "";
}
.feed:after {
  clear: both;
}
.feed .feed-sidebar {
  float: left;
  text-align: center;
  width: 72px;
  padding: 6px 12px;
  *zoom: 1;
}
.feed .feed-sidebar:after,
.feed .feed-sidebar:before {
  display: table;
  line-height: 0;
  content: "";
}
.feed .feed-sidebar:after {
  clear: both;
}
.feed .feed-sidebar .author-image {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  cursor: pointer;
}
.feed .feed-container {
  float: left;
  width: calc(100% -  72px);
  padding: 0 12px;
  *zoom: 1;
}
.feed .feed-container:after,
.feed .feed-container:before {
  display: table;
  line-height: 0;
  content: "";
}
.feed .feed-container:after {
  clear: both;
}
.feed .feed-header {
  position: relative;
  font-size: 12px;
  margin-bottom: 4px;
  padding: 8px;
  padding-left: 0;
  *zoom: 1;
}
.feed .feed-header:after,
.feed .feed-header:before {
  display: table;
  line-height: 0;
  content: "";
}
.feed .feed-header:after {
  clear: both;
}
.feed .feed-header .author {
  font-weight: 600;
  margin-right: 12px;
  cursor: pointer;
}
.feed .feed-header .date {
  color: #8899a6;
}
.feed .title {
  margin-bottom: 4px;
  font-weight: 500;
  color: #333;
}
.feed .feed-link {
  margin-left: 6px;
  font-size: 11px;
  cursor: pointer;
}
.feed .article-media {
  margin: 16px 0;
}
.feed .article-media .summary-image {
  position: relative;
  width: 100%;
  padding-top: 62.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.feed .article-summary {
  padding: 0 8px;
  padding-left: 0;
  font-size: 13px;
}
.feed .message {
  color: #555;
  padding-left: 8px;
}
.feed .show-article {
  margin-top: 8px;
  padding: 0 0 8px 0;
}
.feed .show-article a {
  cursor: pointer;
}
.summary-video {
  position: relative;
  width: 100%;
  padding-top: 62.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #222;
  cursor: pointer;
}
.summary-video .play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #222;
}
.summary-video:hover .play-icon {
  color: #000;
  font-size: 58px;
}
.feed-dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.feed-dialog-container .feed-dialog-background {
  width: 100%;
  height: 100%;
  background-color: rgba(16, 25, 33, 0.8);
}
.feed-dialog-container .feed-dialog {
  min-width: 600px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feed-dialog-container .feed-dialog .header {
  padding: 4px;
  text-align: center;
  font-size: 14px;
}
.feed-dialog-container .feed-dialog .header .hide-btn {
  position: absolute;
  right: 12px;
  top: 8px;
  color: #999;
}
.feed-dialog-container .feed-dialog .header .hide-btn:hover {
  cursor: pointer;
}
.feed-dialog-container .feed-dialog .form-container {
  position: relative;
  padding: 16px 12px;
  background-color: #e0fcff;
}
.feed-dialog-container .feed-dialog .form-container .feed-content {
  width: 100%;
  min-height: 80px;
  margin-bottom: 18px;
  padding: 6px;
  border: 1px solid #a7cace;
  background-color: #fff;
  outline: none;
}
.feed-dialog-container .feed-dialog .form-container .feed-content:focus {
  outline: 1px solid #39777d;
}
.feed-dialog-container .feed-dialog .form-container .feed-toolbar {
  *zoom: 1;
}
.feed-dialog-container .feed-dialog .form-container .feed-toolbar:after,
.feed-dialog-container .feed-dialog .form-container .feed-toolbar:before {
  display: table;
  line-height: 0;
  content: "";
}
.feed-dialog-container .feed-dialog .form-container .feed-toolbar:after {
  clear: both;
}
.feed-dialog-container .feed-dialog .form-container .feed-toolbar .post-btn {
  float: right;
}
.feed-div {
  width: 100%;
  height: calc(100% -  48px);
  position: relative;
  padding: 0;
  overflow-y: auto;
  *zoom: 1;
}
.feed-div:after,
.feed-div:before {
  display: table;
  line-height: 0;
  content: "";
}
.feed-div:after {
  clear: both;
}
.feed-div::-webkit-scrollbar {
  width: 8px;
}
.feed-div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}
.feed-div::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 10px;
}
.feed-div::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}
.feed-div .section-title {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 24px;
}
.feed-div .status {
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
/*
// http://w3bits.com/css-masonry/
.masonry {
  margin: 1.5em 0;
  // padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;

  .feed {
    display: inline-block;
    background: #fff;
    // padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
}
}
@media only screen and (min-width: 400px) {
  .masonry {
    column-count: 1;
  }
}
@media only screen and (min-width: 700px) {
  .masonry {
    column-count: 2;
  }
}
@media only screen and (min-width: 900px) {
  .masonry {
    column-count: 3;
  }
}
@media only screen and (min-width: 1100px) {
  .masonry {
    column-count: 4;
  }
}
*/
/*
@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px;
  }
}
*/
.home {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.home.no-scroll {
  overflow: hidden;
}
.home .navbar {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: none;
}
.home .navbar #searchbox {
  margin-right: 12px;
}
.search-page .header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.search-page .header .search-status {
  width: 64px;
  padding: 12px 6px;
  float: left;
  height: 100%;
  font-size: 16px;
  background-color: rgba(85, 87, 125, 0.95);
  color: #fff;
  font-weight: 200;
  border-radius: 0 2px 2px 0;
  text-align: center;
}
.search-page .header .search-box {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 4px 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  outline: none;
  cursor: text;
}
.search-page .header .search-box:focus {
  background-color: #fafafa;
  border-bottom: 1px solid #bbb;
}
.search-page .container {
  height: calc(100% -  48px);
}
.search-page .trending-section {
  width: 100%;
}
.search-page .trending-section .nav-button-group {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #eee;
}
.search-page .trending-section .nav-button-group .nav-btn {
  cursor: pointer;
  color: #666;
  border-left: 1px solid #eee;
}
.search-page .trending-section .nav-button-group .nav-btn:first-child {
  border-left: none;
}
.search-page .trending-section .nav-button-group .nav-btn:hover {
  background-color: #eee;
}
.search-page .trending-section .nav-button-group .nav-btn.selected {
  background-color: #f1f1f1;
}
.search-page .status {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 300;
}
#searchbox {
  width: 256px;
}
.home-feed-page .header {
  background-color: #fff;
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.home-feed-page .header .column-1-1 {
  padding: 12px;
  font-size: 16px;
}
.home-feed-page .header .column-1-1:hover {
  cursor: pointer;
}
.subscriptions-page .header {
  background-color: #fff;
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.subscriptions-page .header .column-1-1 {
  padding: 12px;
  font-size: 16px;
}
.subscriptions-page .header .column-1-1:hover {
  cursor: pointer;
}
.subscriptions-page .subscriptions-list {
  width: 100%;
  height: calc(100% -  48px);
  position: relative;
  padding: 0;
  overflow-y: scroll;
  *zoom: 1;
}
.subscriptions-page .subscriptions-list:after,
.subscriptions-page .subscriptions-list:before {
  display: table;
  line-height: 0;
  content: "";
}
.subscriptions-page .subscriptions-list:after {
  clear: both;
}
.subscriptions-page .subscriptions-list .subscription-item {
  width: 100%;
  height: 64px;
  padding: 8px 24px;
  background-color: #fff;
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
}
.subscriptions-page .subscriptions-list .subscription-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.subscriptions-page .subscriptions-list .subscription-item .image {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 24px;
  border-radius: 24px;
}
.subscriptions-page .subscriptions-list .subscription-item .name {
  height: 100%;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 48px;
  white-space: nowrap;
  max-width: 200px;
}
.notifications-page .header {
  background-color: #fff;
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.notifications-page .header .column-1-1 {
  padding: 12px;
  font-size: 16px;
}
.notifications-page .header .column-1-1:hover {
  cursor: pointer;
}
.notifications-page .notifications-list {
  width: 100%;
  height: calc(100% -  48px);
  position: relative;
  padding: 0;
  overflow-y: scroll;
  background-color: #fafafa;
  *zoom: 1;
}
.notifications-page .notifications-list:after,
.notifications-page .notifications-list:before {
  display: table;
  line-height: 0;
  content: "";
}
.notifications-page .notifications-list:after {
  clear: both;
}
.notification-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  background-color: #fff;
  height: 128px;
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
  cursor: pointer;
  *zoom: 1;
}
.notification-card:after,
.notification-card:before {
  display: table;
  line-height: 0;
  content: "";
}
.notification-card:after {
  clear: both;
}
.notification-card:hover {
  background-color: #fafafa;
}
.notification-card .notification-sidebar {
  position: relative;
  float: left;
  text-align: center;
  width: 72px;
  height: 100%;
  *zoom: 1;
}
.notification-card .notification-sidebar:after,
.notification-card .notification-sidebar:before {
  display: table;
  line-height: 0;
  content: "";
}
.notification-card .notification-sidebar:after {
  clear: both;
}
.notification-card .notification-sidebar .author-image {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notification-card .notification-container {
  float: left;
  width: calc(100% -  72px);
  padding: 0 12px;
  *zoom: 1;
}
.notification-card .notification-container:after,
.notification-card .notification-container:before {
  display: table;
  line-height: 0;
  content: "";
}
.notification-card .notification-container:after {
  clear: both;
}
.notification-card .notification-container .notification-header {
  position: relative;
  font-size: 12px;
  margin-bottom: 4px;
  padding: 8px;
  padding-left: 0;
  *zoom: 1;
}
.notification-card .notification-container .notification-header:after,
.notification-card .notification-container .notification-header:before {
  display: table;
  line-height: 0;
  content: "";
}
.notification-card .notification-container .notification-header:after {
  clear: both;
}
.notification-card .notification-container .notification-header .author {
  font-size: 14px;
  font-weight: 600;
  margin-right: 12px;
  cursor: pointer;
}
.notification-card .notification-container .notification-header .date {
  position: absolute;
  top: 10px;
  right: 0;
  color: #8899a6;
}
.notification-card .notification-container .content {
  font-size: 13px;
  color: #666;
}
.notification-card .notification-container .notification-footer {
  position: absolute;
  bottom: 0;
  right: 8px;
  padding: 8px;
  padding-left: 0;
  font-size: 12px;
}
.notification-card .notification-container .notification-footer .history-icon {
  font-size: 16px;
  color: #8899a6;
}
.notification-card .notification-container .notification-footer .history-icon:hover {
  color: #6b8090;
}
.video-window {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #222;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.video-window #video {
  width: 100%;
  height: 100%;
}
.video-window:hover .close-btn {
  display: block;
}
.trending-div,
.top-subscriptions-div {
  overflow-y: auto;
  height: 100%;
  *zoom: 1;
}
.trending-div:after,
.top-subscriptions-div:after,
.trending-div:before,
.top-subscriptions-div:before {
  display: table;
  line-height: 0;
  content: "";
}
.trending-div:after,
.top-subscriptions-div:after {
  clear: both;
}
.trending-div::-webkit-scrollbar,
.top-subscriptions-div::-webkit-scrollbar {
  width: 8px;
}
.trending-div::-webkit-scrollbar-track,
.top-subscriptions-div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}
.trending-div::-webkit-scrollbar-thumb,
.top-subscriptions-div::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 10px;
}
.trending-div::-webkit-scrollbar-thumb:hover,
.top-subscriptions-div::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}
.trending-div .topic,
.top-subscriptions-div .topic {
  width: 100%;
  height: 48px;
  padding: 12px 32px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.trending-div .topic:hover,
.top-subscriptions-div .topic:hover {
  background-color: #fcfcfc;
}
.tag {
  float: left;
  padding: 4px 6px;
  background-color: #eff5ed;
  border-radius: 6px;
  color: #777;
  cursor: pointer;
}
.tag:hover {
  background-color: #e0e6de;
}
.dis-page {
  overflow-y: auto;
  padding: 0;
  z-index: 1;
}
.dis-page .profile {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  margin-bottom: 12px;
  border-bottom: 1px solid #cfd0d5;
  padding-bottom: 12px;
}
.dis-page .profile .back-btn {
  position: absolute;
  left: 6px;
  top: 6px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
.dis-page .profile .back-btn:hover {
  font-size: 20px;
}
.dis-page .profile .cover {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.dis-page .profile .profile-container {
  margin: 0 auto;
  padding: 6px 12px;
}
.dis-page .profile .profile-container .author-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 40px;
  position: absolute;
  transform: translatey(-50%);
  border: 4px solid #ffffff;
}
.dis-page .profile .profile-container .follow-btn {
  position: absolute;
  right: 12px;
  color: #3a67b0;
  padding: 4px 6px;
  border-radius: 4px;
  width: 80px;
  text-align: center;
  border: 1px solid #96caea;
  cursor: pointer;
}
.dis-page .profile .profile-container .follow-btn:hover {
  background-color: #f1f1f1;
}
.dis-page .profile .profile-container .follow-btn.following::after {
  content: 'following';
}
.dis-page .profile .profile-container .follow-btn.following:hover {
  color: #b03a8c;
  border: 1px solid #ea96d0;
}
.dis-page .profile .profile-container .follow-btn.following:hover::after {
  content: 'unfollow ?';
}
.dis-page .profile .profile-container .title {
  position: relative;
  font-weight: 800;
  font-size: 14px;
  margin-top: 35px;
  padding: 6px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}
.dis-page .profile .profile-container .description {
  font-size: 12px;
  color: #777;
}
.dis-page .profile .profile-container .push-notification-config {
  margin-top: 12px;
}
.dis-page .profile .profile-container .push-notification-config label {
  font-size: 12px;
  margin-left: -10px;
}
.dis-page .feed-div {
  height: 100%;
}
.dis-page .status {
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.feed-page {
  position: relative;
  z-index: 1;
}
.feed-page .header {
  background-color: #fff;
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.feed-page .header .column-1-1 {
  padding: 12px;
  font-size: 16px;
}
.feed-page .header .column-1-1:hover {
  cursor: pointer;
}
.feed-page .back-btn {
  position: absolute;
  left: 6px;
  top: 16px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
.feed-page .back-btn:hover {
  font-size: 20px;
}
.feed-page .status {
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.feed-page .feed-page-div {
  width: 100%;
  height: calc(100% -  48px);
  position: relative;
  padding: 16px;
  overflow-y: auto;
  *zoom: 1;
}
.feed-page .feed-page-div:after,
.feed-page .feed-page-div:before {
  display: table;
  line-height: 0;
  content: "";
}
.feed-page .feed-page-div:after {
  clear: both;
}
.feed-page .feed-page-div .title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 16px 0;
}
.feed-page .feed-page-div img {
  max-width: 100% !important;
  margin: 12px 0;
}
.feed-page .feed-page-div video {
  max-width: 100% !important;
  margin: 12px 0;
  width: 100%;
}
.feed-page .feed-page-div .link-btn {
  width: 100%;
  text-align: center;
  margin-top: 48px;
  padding: 6px;
  border-radius: 6px;
  border: 2px solid #c7def5;
  color: #8db5de;
  cursor: pointer;
}
.feed-page .feed-page-div .link-btn:hover {
  color: #3e82c7;
  border: 2px dotted #2f68a3;
}
.topic-page {
  z-index: 1;
  overflow-y: auto;
  padding: 0;
}
.topic-page .back-btn {
  position: absolute;
  left: 6px;
  top: 16px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
.topic-page .back-btn:hover {
  font-size: 20px;
}
.topic-page .header {
  background-color: #fff;
  border-bottom: 1px solid rgba(63, 64, 85, 0.25);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.topic-page .header .column-1-1 {
  padding: 12px;
  font-size: 16px;
}
.topic-page .header .column-1-1:hover {
  cursor: pointer;
}
